{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 100,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-css-order",
    "prettier-plugin-jsdoc",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteIndentScriptAndStyle": true,
  "svelteAllowShorthand": true,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "<TYPES>",
    "^\\$(assets|hooks)(/.*)?$",
    "^\\$(components)(/.*)?$",
    "^\\$(libs)(/.*)?$",
    "^[.]"
  ],
  "importOrderTypeScriptVersion": "6.0.3",
  "importOrderCaseSensitive": false,
  "importOrderParserPlugins": ["typescript"],
  "cssDeclarationSorterOrder": "frakto",
  "tailwindStylesheet": "./src/routes/layout.css",
  "tailwindFunctions": ["cn", "twMerge", "clsx", "tv"],
  "tailwindPreserveWhitespace": false,
  "tailwindPreserveDuplicates": false,
  "jsdocDescriptionWithDot": false,
  "jsdocDescriptionTag": false,
  "jsdocVerticalAlignment": false,
  "jsdocKeepUnParseAbleExampleIndent": false,
  "jsdocCommentLineStrategy": "singleLine",
  "jsdocCapitalizeDescription": true,
  "jsdocSeparateReturnsFromParam": false,
  "jsdocSeparateTagGroups": false,
  "jsdocPreferCodeFences": false,
  "jsdocEmptyCommentStrategy": "remove",
  "jsdocBracketSpacing": false,
  "jsdocPrintWidth": 80,
  "tsdoc": true
}
